<div class="sorting-options">
  <label for="sortBy">Sort by:</label>
  <select id="sortBy" (change)="onSortChange($event)">
    
    <option value="none">Relevant</option>
    <option value="nameAsc">Name: A to Z</option>
    <option value="nameDesc">Name: Z to A</option>
    <option value="rentAsc">Rent: Low to High</option>
    <option value="rentDesc">Rent: High to Low</option>
    <option value="locationAsc">Location: A to Z</option>
    <option value="locationDesc">Location: Z to A</option>
  </select>
</div>

<div class="item-container">
  <ng-container *ngIf="apartData.length != 0">
    <div *ngFor="let item of apartData" class="apartment-card">
      <!-- Apartment Image -->
      <div class="apartment-image">
        <img [src]="ImagePath(item.apartmentImagePath)" alt="{{ item.apartName }}" />
      </div>
      
      <!-- Apartment Info -->
      <div class="apartment-info">
        <h3>{{ item.apartName }}</h3>
        <p class="location">{{ item.apartLocation }}</p>
        <p class="rent">Rent: {{ item.expectedRent }} INR</p>
        <p class="furnished-status">{{ item.isFurnished ? 'Furnished' : 'Unfurnished' }}</p>
      </div>
      
      <!-- Action Buttons -->
      <div class="apartment-actions">
        <button (click)="viewDetails(item.id)" class="view-btn">View</button>
        <button *ngIf="!favouritedApart.includes(item.id)" (click)="markAsFavorite(item.id)" class="favorite-btn">Like</button>
        <button *ngIf="isAuthenticated && favouritedApart.includes(item.id)" (click)="removeAsFavorite(item.id)" class="favorite-btn">Unlike</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="apartData.length == 0">
    <span class="no-post"><p><strong><u>No Apartment Found</u></strong></p></span>
  </ng-container>
</div>
